@page
@model PaymentCVSTS.RazorWebApp.Pages.Payments.DeleteModel

@{
    ViewData["Title"] = "Delete Payment";
}

<h1>Delete Payment</h1>

<h3>Are you sure you want to delete this payment?</h3>
<div>
    <h4>Payment Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.PaymentId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.PaymentId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.Amount)
        </dt>
        <dd class="col-sm-9">
            $@Model.Payment.Amount.ToString("N2")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.PaymentStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.PaymentStatus)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.PaymentMethod)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.PaymentMethod)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.PaymentDate)
        </dt>
        <dd class="col-sm-9">
            @Model.Payment.PaymentDate.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.AppointmentId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.AppointmentId)
        </dd>
        @if (Model.Payment.Appointment != null)
        {
            <dt class="col-sm-3">
                Service Type
            </dt>
            <dd class="col-sm-9">
                @(Model.Payment.Appointment.ServiceType ?? "N/A")
            </dd>
        }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Payment.PaymentId" />

        <!-- Add hidden fields to preserve filter state -->
        <input type="hidden" asp-for="PaymentDate" />
        <input type="hidden" asp-for="PaymentStatus" />
        <input type="hidden" asp-for="PaymentMethod" />

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index"
           asp-route-PaymentDate="@Model.PaymentDate"
           asp-route-PaymentStatus="@Model.PaymentStatus"
           asp-route-PaymentMethod="@Model.PaymentMethod">Back to List</a>
    </form>
</div>